.nav-link.active {
    color: #3498DB;
    border-bottom: 2px solid #3498DB;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: #3498DB;
    border-radius: 2px;
}